<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou.dao.f.foregroundVideoDao">
	<resultMap type="com.zhiyou.model.Video" id="videoMap">
		<id column="video_id" property="video_id" />
		<result column="title" property="title" />
		<result column="detail" property="detail" />
		<result column="time" property="time" />
		<result column="video_url" property="video_url" />
		<result column="image_url" property="image_url" />
		<result column="play_num" property="play_num" />
		<result column="speaker_id" property="speaker_id" />
		<result column="course_id" property="course_id" />
		<association column="speaker_id" property="speaker" javaType="com.zhiyou.model.Speaker">
			<id column="id" property="id" />
			<result column="speaker_name" property="speaker_name" />
			<result column="speaker_desc" property="speaker_desc" />
			<result column="speaker_job" property="speaker_job" />
			<result column="pic_url" property="pic_url" />
		</association>
		<association column="course_id" property="course" javaType="com.zhiyou.model.Course">
			<id column="id" property="id" />
			<result column="course_title" property="course_title" />
			<result column="course_desc" property="course_desc" />
			<result column="subject_id" property="subject_id" />
			<association column="subject_id" property="subject" javaType="com.zhiyou.model.Subject">
			<id column="subject_id" property="subject_id" />
			<result column="subject_name" property="subject_name" />
		</association>
		</association>
		</resultMap>
		<select id="selectById" resultMap="videoMap">
		select * from video v,speaker s,course c , subject sub where v.speaker_id = s.id and
		v.course_id =c.id and c.subject_id= sub.subject_id
		and
		video_id=#{video_id}
		</select>
		
		<update id="update" parameterType="com.zhiyou.model.Course">
		update video
		<set>
			<if test="title!=null">title = #{title},</if>
			<if test="detail!=null">detail = #{detail},</if>
			<if test="time!=null">time =#{time},</if>
			<if test="speaker_id!=null">speaker_id =#{speaker_id},</if>
			<if test="course_id!=null">course_id =#{course_id},</if>
			<if test="video_url!=null">video_url =#{video_url},</if>
			<if test="image_url!=null">image_url =#{image_url},</if>
			<if test="play_num!=null">play_num =#{play_num},</if>
		</set>
		where video_id=#{video_id}
	</update>
		

	</mapper>