<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou.dao.s.BackgroundCourseDao">

	
	<resultMap type="com.zhiyou.model.Course" id="courseMap">
		<id column="id" property="id" />
		<result column="course_title" property="course_title"/>
		<result column="course_desc" property="course_desc"/>
		<result column="subject_id" property="subject_id"/>
	</resultMap>


	<select id="selectAllPage" resultMap="courseMap" >
		select * from course 
	</select>
	
	<select id="selectAll" resultMap="courseMap" >
		select * from course 
	</select>
	<select id="selectCount" resultType="int" >
		select count(*) from course
	</select>
	
	
	<select id="selectOne" resultMap="courseMap" >
		select * from course where id=#{id}
	</select>
	
	<insert id="add" parameterType="com.zhiyou.model.Course" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into course(course_title,course_desc,subject_id) values(#{course_title},#{course_desc},#{subject_id})
	</insert>
	
	<delete id="deleteMany" parameterType="com.zhiyou.model.Course">
	   delete from course where id in(
	   <foreach collection="list" item="ids" separator="," index="number">
	       #{ids}
	   </foreach>
	   )	
	</delete>
	
	
	<delete id="delete" parameterType="com.zhiyou.model.Course">
		delete from course where id=#{id} 
	</delete>
	
	<update id="update" parameterType="com.zhiyou.model.Course">
		update course
		<set>   
		<if test="course_title!=null">
			course_title=#{course_title},
		</if>
		<if test="course_desc!=null">
			course_desc=#{course_desc},
		</if>
		<if test="subject_id!=null">
			subject_id=#{subject_id}
		</if>
		</set>
		 where id=#{id}
	</update>
	
</mapper>