<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou.dao.f.foregroundShowDao">
 
 <resultMap type="com.zhiyou.model.Course" id="courseMap">
 		<id column="id" property="id"/>
 		<result column="course_title" property="course_title"/>
 		<result column="course_desc" property="course_desc"/>
 		<result column="subject_id" property="subject_id"/>
 		<association column="subject_id" property="subject" javaType="com.zhiyou.model.Subject">
 			<id column="subject_id" property="subject_id"/>
 			<result column="subject_name" property="subject_name"/>
 		</association>
 		<collection property="videos" ofType="com.zhiyou.model.Video">
 			<id column="video_id" property="video_id" />
			<result column="title" property="title" />
			<result column="detail" property="detail" />
			<result column="time" property="time" />
			<result column="video_url" property="video_url" />
			<result column="image_url" property="image_url" />
			<result column="play_num" property="play_num" />
			<result column="speaker_id" property="speaker_id" />
			<result column="course_id" property="course_id" />
 				<association column="speaker_id" property="speaker"
				javaType="com.zhiyou.model.Speaker">
				<id column="id" property="id" />
				<result column="speaker_name" property="speaker_name" />
				<result column="speaker_desc" property="speaker_desc" />
				<result column="speaker_job" property="speaker_job" />
				<result column="pic_url" property="pic_url" />
			</association>
 		</collection>
 </resultMap>
 <select id="selectAllById" resultMap="courseMap">
 select * from course c LEFT JOIN
		video v on c.id = v.course_id LEFT JOIN
		subject s on c.subject_id = s.subject_id LEFT JOIN
		speaker sp ON v.speaker_id = sp.id
		where c.subject_id = #{subject_id}
 </select>
 
 
</mapper>